@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 210, 210);
    font-family: 'Oxygen', sans-serif;
}

/*mainpage*/

.social {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding: 30px;
    position: sticky;
    top: 0%;
    z-index: 99;
}

.social #logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo span{
    border-left: 1px solid white;
    padding-left: 10px;
}

.social #brands {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container {
    margin: 10px 10%;
}

header{
    position: relative;
}

header span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    font-family: 'Caramel', cursive;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
}

header img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

section {
    border-radius: 10px;
    margin: 20px 0; 
    display: flex;
    background-color: rgb(231, 226, 226);
}

section nav {
    margin-top: 20px;
    width: 10%;
    
}

section nav ul{
    list-style: none;
}

section nav a {
    text-decoration: none;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
    color: black;
    height: 50px;
    line-height: 50px;
}

section nav a:hover {
    color: white;
    background-color: grey;
    cursor: pointer;
}

section nav i {
    padding: 10px;
}

section main {
    width: 90%;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content{
    flex: 1 1 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #b4b4b4;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  #b4b4b4;
}

.content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.content p {
    text-align: justify;
}

.content h3, p{
    margin: 0 10px;
}

.content button {
    width: 150px;
    height: 40px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: rgb(159, 159, 253);
    color: white;
    border-style: none;
    margin-bottom: 20px;
}

.content button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(159, 159, 253);
}

footer {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}

/*about-us*/

main h1 {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
    margin: 0 0 30px 10px;
    border-radius: 10px;

}  

.about-us{
    margin-left: 10px;
}

.about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-us h3{
    margin: 20px 10px;
}

.about-us p{
    text-indent: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 20px;
}

/*refs*/

.refs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ref{
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px 2px #b4b4b4;
}

.ref{
    margin: 10px 20px;
}

.ref img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.ref h3 {
    height: 35px;
    background-color: rgb(219, 211, 211);
    text-align: center;
    line-height: 35px;
}

.ref p {
    height: 70px;
    text-align: center;
    line-height: 70px;
}

/*gallery*/

.gals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gal {
    width: 260px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
}

.gal img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: 500ms padding, 500ms box-shadow;
}

.gal img:hover {
    padding: 10px;
    box-shadow: 0 2px 8px 2px burlywood inset;
    transition: 500ms padding, 500ms box-shadow;
}

/*contacts*/

.conts {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.conts #map{
    flex: 1 1 100%;
    width: 80%;
    height: 500px; 
}

.conts #map iframe{
    width: 100%;
    border-radius: 10px;
}

.conts .infos{
    flex: 1 1 100%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 10px;

}

.infos form{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.infos form label{
    display: block;
    background-color: cadetblue;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.infos form input, textarea{
    display: block;
    width: 80%;
    border-radius: 10px;
    border: none;
}

.infos form input, textarea[placeholder]{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding-left: 10px;
}

.infos form input{
    height: 50px;
}

.infos form button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: cadetblue;
    cursor: pointer;
    margin-left: 58%;
}

.infos form button:hover{
    background-color: cadetblue;
    color: #EFEFEF;
    transition: 0.5s all;
}

.infos .adres{
    flex: 1 1 45%;
    border: 1px solid grey;
    border-radius: 10px;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    width: 100%;
}


/*! Breakpoints*/

@media (max-width:600px){
    /*mainpage*/

    .social #logo{
        flex-direction: column;
        gap: 10px;
    }


    #logo span{
        border-left: none;
        padding-left: 0;
        font-size: small;
        font-style: italic;
    }

    .container span{
        font-size: 35px;
    }

    section nav a {
        padding-left: 10px;
    }

    section nav ul li a i {
        padding: 10px;
        margin-left: -10px;
    }

    section nav ul li a span{
        display: none;
    }

    .infos form input, textarea[placeholder]{
        font-size: 10px;
    }

    .infos form button{
        margin: 0;
    }

    .infos .adres{
        height: auto;
        gap: 10px;
        line-height: 1;
        letter-spacing: 0;
    }

    .infos .adres p{
        font-size: 10px;
    }


}

@media (min-width:601px) and (max-width:1800px){
    section nav ul li a span{
        display: none;
    }
}
